<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.librarysystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appimage"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Login"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainPage"
            android:launchMode="singleTask" />
        <activity android:name=".activity.PersonalSet" />
        <activity android:name=".activity.PresentBorrow" />
        <activity android:name=".activity.ChangeBooks" />
        <activity android:name=".activity.PassBorrow" />
        <activity android:name=".activity.DetailedBook" />
        <activity android:name=".activity.BackBook" />
        <activity android:name=".activity.UpdateBook" />
        <activity android:name=".activity.ManagerRoot" />
        <activity android:name=".activity.ManagerUsers" />
        <activity android:name=".activity.UserCcount"/>
        <activity android:name=".activity.AlterPassword"/>
    </application>

</manifest>