<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.librarysystem">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appimage"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activity.Login"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainPage"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.PersonalSet"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.PresentBorrow"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.ChangeBooks"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.PassBorrow"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.DetailedBook"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.BackBook"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.UpdateBook"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.ManagerRoot"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.UserCcount"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.AlterPassword"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.ForgetPassword"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.BookRoot"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.ChangeUsers"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.ManagerUser"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.NetBook"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>